<h1> Welcome to Picolla </h1>

<h4> Order </h4>

<h2>{{ note }}</h2>
<br><br>
{% if created_pizza_pk %}
    <a href="{% url 'pizza:edit_order' created_pizza_pk %}">Edit your Order!</a>
{% endif %}

{#<form enctype="multipart/form-data" action="{% url 'pizza:create_order'  %}" method="post">#}

<form action="{% url 'pizza:create_order' %}" method="post">

    {% csrf_token %}
    {{ pizzaform }}
    <input type="submit" value="Confirm Your Order">
</form>

<br><br>

What to order more than one?

<form action="{% url 'pizza:pizzas' %}" method="get">
    {{ multiple_form }}
    <input type="submit" value="Get Pizzas">
</form>